<p id="notice"><%= notice %></p>

<h1>Events</h1>
<% if session[:current_user_id].is_a? Integer %>
  <h3>Current Profile: <%= link_to "#{@user.name}", @user %> </h3>
<% else %>
  <%= link_to 'Create a new user', new_user_path %>
<% end %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <h3>Upcomming Events:</h3>
    <% @upcoming_events.each do |event| %>
      <tr>
        <td>
          <%= event.description %>
          |
          <%= link_to 'Show', event %>
          |
          <%= link_to 'Assist', assist_path(event_id: event, user_id: session[:current_user_id]), method: :put, data: { confirm: 'Do you want to assist to this event?' } %>
          |
          <%= link_to 'Delete', event_path(event), data: {confirm: "Delete event?"}, method: :delete %>
        </td>
      </tr>
      <tr>
        <td>
          <p>Hosted by: <%= link_to "#{event.user.name}", event.user %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <h3>Previous Events:</h3>
    <% @prev_events.each do |event| %>
      <tr>
        <td>
          <%= event.title %>
          |
          <%= link_to 'Show', event %>
          |
          <%= link_to 'Assist', assist_path(event_id: event, user_id: session[:current_user_id]), method: :put, data: { confirm: 'Do you want to assist to this event?' } %>
          |
          <%= link_to 'Delete', event_path(event), data: {confirm: "Delete event?"}, method: :delete %>
        </td>
      </tr>
      <tr>
        <td>
          <p>Hosted by: <%= link_to "#{event.user.name}", event.user %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New event', new_event_path %>
