<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <h3>Upcomming Events:</h3>
    <% @upcoming_events.each do |event| %>
      <tr>
        <td>
          <%= event.description %>, <%= event.location %>
          |
          <%= link_to 'Show', event %>
          <% if session[:current_user_id].is_a? Integer %>
          |
          <%= link_to 'Assist', assist_path(event_id: event, user_id: session[:current_user_id]), method: :put, data: { confirm: 'Do you want to assist to this event?' } %>
          <% end %>
          <%  if event.creator.id == session[:current_user_id] %>
            |
            <%= link_to 'Delete', event_path(event), data: {confirm: "Delete event?"}, method: :delete %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <p>Hosted by: <%= link_to "#{event.creator.name}", event.creator %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <h3>Previous Events:</h3>
    <% @prev_events.each do |event| %>
      <tr>
        <td>
          <%= event.description %>, <%= event.location %>
          |
          <%= link_to 'Show', event %>
          <% if session[:current_user_id].is_a? Integer %>
          |
          <%= link_to 'Assist', assist_path(event_id: event, user_id: session[:current_user_id]), method: :put, data: { confirm: 'Do you want to assist to this event?' } %>
          <% end %>
          <%  if event.creator.id == session[:current_user_id] %>
          |
          <%= link_to 'Delete', event_path(event), data: {confirm: "Delete event?"}, method: :delete %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <p>Hosted by: <%= link_to "#{event.creator.name}", event.creator %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
