<p id="notice"><%= notice %></p>

<p>
  <strong>Host: <%= @event.creator.name %></strong>
</p>

<%= simple_format(@event.description)  %>

<p>
  <strong>Date: <%= @event.event_date %></strong>
</p>

<p>
  <strong>List of attendees:</strong>
  <br/>
  <tbody>
    <% @attendances.each do |guest| %>
      <tr>
        <% if @event.creator.name != guest.user.name %>
        <td><strong><%= guest.user.name %></strong></td>
        <br/>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
